/* font-family: 'Montserrat'; */
/* font-family: 'Montserrat'; */
@import '../font/stylesheet.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* =====   header   ====   */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 7px 0;
    box-shadow: 0 0px 25px 0px rgba(58, 31, 12, 0.35);
    background: #fff;
}

.nav-content__list {
    display: flex;
}

.nav-content__link {
    margin-left: 34px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #dd4400;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
}

.logo-img {
    margin-right: 22px;
}

.nav-content__link {
    color: #4e4e4e;
    font-size: 16px;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
}

.nav-content__link:hover {
    color: #dd4400;
}

.header {
    min-height: 570px;
    background: url('../img/bg.png') no-repeat;

    /* background-repeat: no-repeat; */

}

/* =====   /header   ====   */

/* ================  main =============== */
.main {
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-opportunity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px 0 #eadcd6;
    padding: 45px 27px 25px 27px;
}

.card__title {
    max-width: 165px;
    text-align: center;
    font-size: 18px;
    color: #dd4400;
    /* font-family: 'Montserrat';  */
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 45px;
}
.line{

    margin-bottom: 30px;
    background: linear-gradient(to right, #fff, #dd4400,#fff);
    width: 165px;
    height: 1px;
}
.card__link{
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    padding: 12px 53px;
    line-height: 16px;
    background: #dd4400;
}

.strategy__title{
    font-size: 30px;
    color: #5e5e5e;
    /* font-family: 'Montserrat'; */
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 50px;
}
.strategy-left__description{
    color: #5e5e5e;
    font-size: 18px;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    line-height: 24px;
    max-width: 730px;
    margin-bottom: 35px;
}

.strategy{
    display: flex;
    justify-content: space-between;
}
.strategy-card__link{
    margin-left: 15px;
    font-size:14px ;
    color: #dd4400;
    max-width: 150px;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
}
.strategy__link{
    display: inline-block;
    margin-top: 15px;
}

.strategy-card{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
/* ================  /main =============== */

.footer{
    padding: 65px 0;
    background: #dd4400;
}
.footer__title{
    font-size: 30px;
    color: #fff;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
}
.footer__number{
    font-size: 45px;
    color: #fff;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    line-height: 33px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: inline-block;
}
.footer__workHours{
    font-size: 18px;
    color: #fff;
    /* font-family: 'Montserrat';   */
    font-weight: 400;
}
.footer__description{
    font-size: 20px;
    line-height: 20px;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    color: #fff;
    margin: 20px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer__email{
    font-size: 20px;
    color: #fff;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    /* display: inline-block; */
}
.footer__right{
    text-align: right;
}